// layout
$max-width: 1440px;
$bp-tablet: 768px;
$bp-desktop:1024px;
$marge: 15px;

//Typos
$font-default: 'Montserrat', sans-serif;
$font-title:'Skia', sans-serif;
$font-size-base: 87.5%; // correspond à 14px


//Colors

$blue:#3F7EC0;
$orange:#C68925;
$gray:#A8A8A8;

$link-color:$blue;



